// app global css in SCSS form
@import './tokyodark.scss';

@font-face {
  font-family: MainFont;
  src: url("fonts/Montserrat-Light.ttf") format("opentype");
}
@font-face {
  font-family: MainFont;
  src: url("fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: MainFont;
  src: url("fonts/Montserrat-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('fonts/BarlowCondensed-Bold.ttf') format('opentype');
}

@font-face {
  font-family: Anton;
  src: url('fonts/Anton-Regular.ttf') format('opentype');
}

.app-mb-10 {
  margin-bottom: 10px;
}
.app-height-52 {
  height: 52px;
}