// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

// src/css/quasar.variables.scss

$primary: #e7650b;
$secondary: #f6f3f0;
$accent: #c11932;

$dark: #181818;

$positive: #00b056;
$negative: #c00a25;
$info: #31ccec;
$warning: #f2c037;
