$ui-color-lightgrey: #e8e8e8;
.text-lightgrey {
  color: $ui-color-lightgrey;
}
.bg-lightgrey {
  background: $ui-color-lightgrey;
}

$ui-color-beige: #F7F3F0;
.text-beige {
  color: $ui-color-beige;
}

.bg-beige {
  background: $ui-color-beige;
}

$ui-color-tokyored: #c11932;
.text-tokyored {
  color: $ui-color-tokyored;
}
.bg-tokyored {
  background: $ui-color-tokyored;
}

.appbtn {
  font-family: MainFont;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.25em;
  border-radius: 2px;
}
.footerbtn {
    font-family: MainFont;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.25em;
    line-height: 19px;
}

.appbtn-size-md {
  height: 52px;
  width: 129px;
}
.appbtn-size-lg {
  height: 52px;
  width: 190px;
}
